.jumbotron {
    background: #929292;
  }
  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .body {
    background: #e4ebf1;
  }
  hr {
    border-color: inherit;
    margin: 10px;
  }
  .Mntitle {
    color: white;
  }
  #modalresults img {
    overflow: hidden;
    width: 500px;
  }